@import "../../app/theme/theme";


.btn {
    cursor: pointer;
    background-color: $pink;
    position: relative;

    padding: 20px 75px;

    border-radius: 23px;
    font-weight: 700;
    font-size: 24px;
    font-family: "Nunito", sans-serif;
    color: #000;
    border: none;
    outline: none;
    align-self: flex-start;

    @include default {
        align-self: center;
    }
    
}

.welcome {
    
    &__container {
        
        padding: 0 10px;
    }
    &__inner {
        background-color: $red;
        min-height: 1000px;
        display: flex;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 200px));
        //     padding-left: 62px;
        padding: 0px 10px 0px 62px;
        row-gap: 40px;
        position: relative;
        
        @include default {
            align-items: center;
        //     padding-left: 0;
        padding: 0 10px 0 10px;
        }

        @include default {
            min-height: 1250px;
        }
        @include mobiles {
            min-height: 1350px;
        }


    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        color: $white;
        font-family: "Nunito", sans-serif;
        max-width: 618px;
        margin-bottom: 34px;
        margin-top: 50px;

        @include default {
            max-width: 100%;
            text-align: center;
        }

    }

    &__zero {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 40%;
        height: auto;

        @include default {

            width: 400px;
            height: 412px;
        }

    }
}