@import "../../../app/theme/theme";

.theme {
    background-color: $blue;
    width: 90px;
    padding: 8px 11px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    &__sun {
        background-color: $yellow;
        width: 29px;
        height: 29px;
        border-radius: 50%;
    }

    &__moon {
        position: relative;
        width: 29px;
        height: 29px;
        display: flex;
        align-items: center;
        background-color: $gray;
        border-radius: 50%;
        overflow: hidden;

      
        &__dark {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $dark;
            transform: translateX(11px);
        }
    }
}