 
$darken-red: #AE5353;
$white: #FFFFFF;
$red: #D46060;
$pink: #DDCACE;
$btn-active: #c54d4d;
$blue: #46ADF6;
$yellow: #D4F225;
$dark: #423D3D;
$gray: #DCDDD7;
$dark: #423D3D;
$form-gray: rgba(25, 21, 21, 0.5);
$light-pink: #ede2e4;

$purple: #5964F2;
$blue: #0077FF