@import "../../app/theme/theme";

.header {
    background-color: $darken-red;
    z-index: 1;
    position: relative;

    &__inner {
        height: 96px;
        max-width: 1379px;
        padding: 0 18px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        width: 75px;
        cursor: pointer;
    }
    &__list {
        display: flex;
        column-gap: 17px;
        align-items: center;
    }
}