@import "../../app/theme/theme";

.find {
    margin-top: 69px;

    &__triangle {
        &__top {

            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-top: 69px solid $red;
            border-left: 100vw solid transparent;
            transform: scale(-1);
        }

        &__bottom {
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-top: 69px solid $red;
            border-left: 100vw solid transparent;
            //    transform: scale(-1);
            position: relative;

           /* &::after {
                content: url("../../shared/assets/Zero-second.png");
                position: absolute;
                bottom: 0;
                left: 0;
                width: 500px;
                height: 500px;
                z-index: 111;
            } */
        }
    }

    &__content {
        background-color: $red;
    
        width: 100%;
    }
    &__image {
        width: 43%;
    }
    &__inner {
        
    }
}