.slider {
    position: relative;
    height: 250px;

    &__inner {
        position: relative;
     //   position: absolute;
        display: flex;
    }

    &__item {
        display: flex;
        column-gap: 35px;

    }
}